body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin-top: -100px;
  margin-left: -200px;
  font-size:32pt;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  margin-top: -100px;
  margin-left: -200px;
  font-size:32pt;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: -100px;
  margin-left: -200px;
  font-size:32pt;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  color: #2a0092;
  margin-top: -100px;
  margin-left: -200px;
  font-size:20pt;
}
